html,
body {
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}
#app {
  background-color: #d9fff5;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.container-fluid {
  height: 100%;
}
.products-component {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #d9fff5;
}
.products-container {
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  max-height: max-content;
  justify-content: space-around;
}

.card-img {
  max-height: 400px;
}
div .container {
  max-width: 950px;
}
